@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 300;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/*===================================


  Header Styling


*=====================================*/
header {
    text-align: center;
    background-color: #EFD4D4;
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

header a {
    font-weight: normal;
    color: #807D7D;
    margin: 0px 10px;
    font-size: x-large;
    text-decoration: none;
}

header nav ul li {
    display: inline;
}
/*===================================


  Hero Section Styling


*=====================================*/
.top-hero {
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    position: relative;
    min-height: 80vh;
    z-index: 1;
    background-color: #EFD4D4;
}

.top-hero img {
    max-width: 600px;
    margin: 100px 600px;
    float: none;
}

.hero-content {
    position: absolute;
    top: 30%;
    right: 550px;
    color: #807D7D;
}