@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 300;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/*===================================


  Header Styling


*=====================================*/
header {
    text-align: center;
    background-color: #EFD4D4;
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

header a {
    font-weight: normal;
    color: #807D7D;
    margin: 0px 10px;
    font-size: x-large;
    text-decoration: none;
}

header nav ul li {
    display: inline;
}
/*===================================


  Hero Section Styling


*=====================================*/
.top-hero {
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    position: relative;
    min-height: 80vh;
    z-index: 1;
    background-color: #EFD4D4;
}

.top-hero img {
    max-width: 600px;
    margin: 100px 600px;
    float: none;
}

.hero-content {
    position: absolute;
    top: 30%;
    right: 550px;
    color: #807D7D;
}
.hero-content h1 {
	font-family: 'Caveat Brush', cursive;
    font-size: 54px;
    padding-right: 170px;
}

h2 {
	font-family: 'Caveat Brush', cursive;
    text-transform: none;
    font-size: 48px;
}

.hero-content p {
	font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding-top: 41px;
}
/*===================================


  Second Section Styling


*=====================================*/
.monsters {
    background-repeat: no-repeat;
    background-position: center 129px;
    background-image: url("image/Owl1.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    padding: 50px 0;
    position: relative; /* used for background */
    z-index: 2;
    background-size: contain;
}

.featured-monster {
    min-height: 75vh;
    max-width: 500px;
    float: left;
    margin:15% 40px;
    color: #807D7D;
    position: relative;
    z-index: 2;
}

.master-monster {
	font-family: 'Raleway', sans-serif;
    color: #42AEE3;
    font-size: 72px;
}

.book-class {
    font-family: 'Raleway', sans-serif;
    background-color: #42AEE3;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 20px 5px;
    display: block;
    max-width: 130px;
    text-align: center;
    font-weight: bold;
}